<header>
    <div class="flex container">
        <a href="/" class="brand">Expense Tracker</a>
        <nav class="navigation">
            <ul class="flex">
                <li><a href="/" class="header-nav">Home</a></li>
                <li><a href="/users/login" class="header-nav">Login</a></li>
                <li><a href="/contact" class="header-nav">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>