<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Expense Tracker</title>
    <%- include('partials/include') %>

</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container">
        <h1>Welcome to dashboard</h1>
        <h2>You have logged in using <%= authProvider %></h2>
    </div>
    </main>
    <%- include('partials/footer') %>    
</body>
</html>